/*===== homepage bg image =====*/
.bg-hero {
    background-image: url(/assets/images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

// navbar nav link scss
#navbarSupportedContent {
    .navbar-nav {
        .btn-warning.active {
            background-color: $light-color;
            color: $warning-color;

            .btn-warning {
                color: $light-color;
                background-color: $warning-color;
            }
        }

        .btn-primary.active {
            background-color: $light-color;
            color: $primary-color;

            .btn-primary {
                color: $light-color;
                background-color: $primary-color;
            }
        }

        .btn-success.active {
            background-color: $light-color;
            color: $success-color;

            .btn-success {
                color: $light-color;
                background-color: $success-color;
            }
        }

        .btn-danger.active {
            background-color: $light-color;
            color: $danger-color;

            .btn-danger {
                color: $light-color;
                background-color: $danger-color;
            }
        }
    }
}

/*===== mixins =====*/
@mixin default($default: $warning-color) {

    a {
        text-decoration-color: $default !important;

        &.btn-warning {
            background-color: $default !important;
            border-color: $default !important;
        }
    }

    h1,
    h2,
    h3.textTheme,
    h4.textTheme,
    span.textTheme {
        color: $default !important;
    }

    button.textTheme {
        background-color: $default !important;
        border-color: $default !important;
    }
}



.default {
    @include default($default: $warning-color);
}

.primary {
    @include default($default: $primary-color);
}

.success {
    @include default($default: $success-color);
}

.danger {
    @include default($default: $danger-color);
}

/*===== lancding page bg image =====*/
.bg-landing {
    background-image: url(/assets/images/landing-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*===== input form =====*/
main {
    section {
        div {
            select.form-select {
                border: 1px solid $dark-border-subtle;
                --bs-form-select-bg-img: url(/assets/images/triangle.png);
                background-size: 8px 12px;
            }

            input.form-control {
                border-top-left-radius: 5px !important;
                border-bottom-left-radius: 5px !important;
                border: 1px solid $dark-border-subtle;
                padding-left: 5px;
            }
        }
    }
}

/*===== background image about page =====*/
.bg-about {
    background-image: url(/assets/images/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    div.d-grid {
        justify-items: center;
    }
}

// section {
//     ul.nav-tabs {
//         li {
//             .nav-item.active {
//                 background-color: $light-color;
//                 color: $warning-color;

//                 .nav-item {
//                     color: $light-color;
//                     background-color: $warning-color;
//                 }
//             }

//             .btn-primary.active {
//                 background-color: $light-color;
//                 color: $primary-color;

//                 .btn-primary {
//                     color: $light-color;
//                     background-color: $primary-color;
//                 }
//             }

//             .btn-success.active {
//                 background-color: $light-color;
//                 color: $success-color;

//                 .btn-success {
//                     color: $light-color;
//                     background-color: $success-color;
//                 }
//             }

//             .btn-danger.active {
//                 background-color: $light-color;
//                 color: $danger-color;

//                 .btn-danger {
//                     color: $light-color;
//                     background-color: $danger-color;
//                 }
//             }
//         }
//     }
// }