/*=== color variables ===*/
$primary-color: #2D3282;
$secondary-color: #D6D6D6;;
$success-color: #198754;
$info-color: #C4C4C4;
$warning-color: #F47852;
$danger-color: #dc3545;
$light-color: #EFEFEF;
$dark-color: #333333;

/*=== font variables ===*/
$font-montserrat: "Montserrat", sans-serif;

